<app-header></app-header>

<div
        [ngClass]="{greenBlock:isPressed}">
    <h3 [ngClass]="{whiteText:isPress}">Some example text</h3>
</div>

<app-dashboard
[config]="configApp.dashboard.card"
(changeColor)="changeEvent($event)"
(chColor)="chColorEvent($event)"
>
</app-dashboard>

<div class="container">
    <h1>Angular Services</h1>

    <div class="card">
        <h2>App Counter: {{appCounterService.counter}}</h2>

        <button class="btn" (click)="appCounterService.increase()">+</button>
        <button class="btn" (click)="appCounterService.decrease()">-</button>
    </div>



    <div class="card">
        <h2>Local Counter: {{localCounterService.counter}}</h2>

        <button class="btn" (click)="localCounterService.increase()">+</button>
        <button class="btn" (click)="localCounterService.decrease()">-</button>
    </div>
</div>